<div class="mt-5" *ngIf="currentSprint">
  <h2>Current Sprint (#{{currentSprint.sprintNumber}})</h2>

  <table mat-table [dataSource]="currentSprint.userStories">

    <ng-container matColumnDef="storyNumber">
      <th mat-header-cell *matHeaderCellDef>Story No.</th>
      <td mat-cell *matCellDef="let element"> {{element.storyNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/projects', projectId, 'stories', element.storyNumber]">{{element.title}}</a></td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button (click)="removeFromCurrentSprint(element)">Remove</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let story; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="mt-5">
  <button mat-stroked-button color="primary" (click)="startNextSprint()">Start next Sprint</button>
</div>

<div class="mt-5" *ngIf="freeStories">
  <h2>User Stories</h2>

  <table mat-table [dataSource]="freeStories">

    <ng-container matColumnDef="storyNumber">
      <th mat-header-cell *matHeaderCellDef>Story No.</th>
      <td mat-cell *matCellDef="let element"> {{element.storyNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/projects', projectId, 'stories', element.storyNumber]">{{element.title}}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button (click)="addToCurrentSprint(element)">Add</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let story; columns: displayedColumns;"></tr>
  </table>
</div>
