<table class="mt-3" mat-table [dataSource]="allStories">

  <ng-container matColumnDef="sprintNumber">
    <th mat-header-cell *matHeaderCellDef>Sprint</th>
    <td mat-cell *matCellDef="let element"> {{element.sprintNumber}} </td>
  </ng-container>
  <ng-container matColumnDef="storyNumber">
    <th mat-header-cell *matHeaderCellDef>Story No.</th>
    <td mat-cell *matCellDef="let element"> {{element.storyNumber}} </td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="['/projects', projectId, 'stories', element.storyNumber]">{{element.title}}</a></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let story; columns: displayedColumns;"></tr>
</table>
