<mat-toolbar color="primary" role="heading" class="mat-elevation-z6 d-flex justify-content-between">

  <a mat-button routerLink="/">
    <svg
      style="margin-right: 4px"
      fill="white"
      height="24px"
      viewBox="-1 0 478 478.77605"
      width="24px" xmlns="http://www.w3.org/2000/svg">
      <path
        d="m40.371094 478.777344c-16.167969-.007813-30.746094-9.75-36.9375-24.6875-6.1875-14.9375-2.777344-32.136719 8.648437-43.578125l141.425781-141.421875c3.125-3.125 8.1875-3.125 11.3125 0l45.253907 45.253906c3.125 3.125 3.125 8.1875 0 11.3125l-141.421875 141.421875c-7.496094 7.503906-17.675782 11.714844-28.28125 11.699219zm118.792968-192.722656-135.761718 135.769531c-9.242188 9.394531-9.183594 24.480469.136718 33.800781 9.316407 9.320312 24.40625 9.382812 33.800782.144531l135.769531-135.769531zm0 0"/>
      <path
        d="m128.417969 206.785156c-16.175781-.015625-30.75-9.769531-36.929688-24.714844-6.183593-14.949218-2.75-32.148437 8.691407-43.582031l80.640624-80.761719c21.882813-21.839843 57.316407-21.839843 79.199219 0l40.703125 40.800782c7.53125 7.496094 11.765625 17.679687 11.765625 28.304687s-4.234375 20.808594-11.765625 28.304688c-15.613281 15.570312-40.882812 15.570312-56.496094 0l-23.808593-23.824219-63.78125 63.785156c-7.480469 7.488282-17.632813 11.695313-28.21875 11.6875zm92-149.441406c-10.609375-.019531-20.789063 4.191406-28.285157 11.695312l-80.699218 80.800782c-4.519532 4.492187-7.0625 10.601562-7.0625 16.976562s2.542968 12.484375 7.0625 16.976563c9.484375 9.066406 24.421875 9.066406 33.90625 0l69.441406-69.441407c3.121094-3.121093 8.1875-3.121093 11.308594 0l29.441406 29.441407c9.367188 9.335937 24.523438 9.335937 33.886719 0 4.519531-4.492188 7.058593-10.597657 7.058593-16.96875 0-6.371094-2.539062-12.476563-7.058593-16.96875l-40.710938-40.800781c-7.496093-7.511719-17.675781-11.726563-28.289062-11.710938zm0 0"/>
      <path
        d="m435.058594 272h-110.640625c-13.253907 0-24-10.746094-24-24v-32c.003906-2.121094.84375-4.15625 2.34375-5.65625l42.347656-42.34375c4.574219-4.574219 11.453125-5.941406 17.433594-3.46875 5.976562 2.476562 9.875 8.308594 9.875 14.78125v12.6875h64c11.285156 0 22.046875 4.765625 29.628906 13.121094 7.582031 8.355468 11.285156 19.527344 10.1875 30.757812-2.511719 20.777344-20.25 36.335938-41.175781 36.121094zm-118.640625-52.6875v28.6875c0 4.417969 3.582031 8 8 8h110.640625c12.6875.273438 23.554687-9.023438 25.25-21.601562.675781-6.75-1.53125-13.46875-6.085938-18.5-4.550781-5.03125-11.019531-7.902344-17.804687-7.898438h-72c-4.417969 0-8-3.582031-8-8v-20.6875zm151.847656 15.816406"/>
      <path
        d="m224.417969 462.800781c-16.179688-.007812-30.765625-9.765625-36.949219-24.71875-6.179688-14.957031-2.742188-32.164062 8.710938-43.59375l54.96875-54.96875-49.175782-49.121093c-11.296875-10.769532-15.28125-27.132813-10.210937-41.894532 5.074219-14.761718 18.277343-25.214844 33.808593-26.769531 11.964844-1.226563 23.84375 3 32.34375 11.503906l66.730469 66.730469c21.835938 21.882812 21.835938 57.316406 0 79.199219l-72.050781 72c-7.46875 7.472656-17.609375 11.660156-28.175781 11.632812zm5.265625-225.289062c-.800782 0-1.601563.046875-2.464844.128906-7.273438.710937-13.824219 4.714844-17.773438 10.863281-6.089843 9.828125-4.472656 22.574219 3.878907 30.566406l54.792969 54.792969c3.121093 3.125 3.121093 8.1875 0 11.3125l-60.640626 60.640625c-4.523437 4.492188-7.066406 10.601563-7.066406 16.976563 0 6.371093 2.542969 12.484375 7.066406 16.976562 9.484376 9.058594 24.417969 9.058594 33.902344 0l72-72c15.574219-15.632812 15.574219-40.914062 0-56.546875l-66.726562-66.726562c-4.515625-4.5-10.636719-7.015625-17.007813-6.984375zm0 0"/>
      <path
        d="m404.417969 144c-39.761719 0-72-32.234375-72-72s32.238281-72 72-72c39.765625 0 72 32.234375 72 72-.046875 39.746094-32.253907 71.953125-72 72zm0-128c-30.925781 0-56 25.070312-56 56s25.074219 56 56 56c30.929687 0 56-25.070312 56-56-.035157-30.914062-25.085938-55.964844-56-56zm0 0"/>
    </svg>

    <span>SprintTracker</span>
  </a>
  <div>
    <span *ngIf="getUser()">{{getUser().name}}</span>
    <button *ngIf="!getUser()" mat-button (click)="signInWithGoogle()">Login</button>
    <button *ngIf="getUser()" mat-button (click)="signOutWithGoogle()">Logout</button>
  </div>
</mat-toolbar>
