<div class="mt-5">
  <h3>New story</h3>

  <form class="create-story-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="create-story-full-width">
      <input matInput placeholder="Title" formControlName="storyTitle">
    </mat-form-field>

    <mat-form-field class="create-story-full-width">
      <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                placeholder="Description"
                formControlName="storyDescription"></textarea>
    </mat-form-field>
    <div class="mt-2">
      <button mat-stroked-button (click)="form.reset()"
              class="mr-2">
        Reset
      </button>
      <button mat-stroked-button color="primary" type="submit" [disabled]="!form.valid">
        Submit
      </button>
    </div>
  </form>
</div>
