
:host {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 14px;

  margin-top: 100px;
  padding: 24px 40px;

  color: #2f3538;
  text-align: right;

}

a + a {
  margin-left: 32px;
}
