<div id="app">
  <app-header></app-header>

  <main class="container" *ngIf="userIsLoggedIn()">
    <nav mat-tab-nav-bar>
      <ng-container *ngFor="let link of navLinks">
        <a mat-tab-link
           [routerLink]="link.path"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
          {{link.label}}
        </a>
      </ng-container>
    </nav>

    <router-outlet></router-outlet>
  </main>

  <main class="container" *ngIf="!userIsLoggedIn()">
    Please <a class="link" (click)="signInWithGoogle()">log in</a> to get started.
  </main>

  <app-footer></app-footer>
</div>

