<div *ngIf="story" class="mt-5">
  <h3>{{story.title}}</h3>
  <div>
    <label>Requester: </label> <span>{{story.requester}}</span>
  </div>
  <div>
    <label>Sprint: </label> <span>{{story.sprintNumber}}</span>
  </div>
  <div>
    <label>Description:</label>
    <p>{{story.description}}</p>
  </div>
  <div class="mt-5 tasks-form">
    <h4>Tasks</h4>
    <div *ngFor="let task of tasks; index as i" >
      <div *ngIf="!task.done" class="d-flex align-items-center">
        <mat-form-field class="flex-grow-1">
          <input matInput value="{{task.title}}">
        </mat-form-field>
        <button mat-button class="flex-grow-0 ml-2" (click)="markTaskAsDone(i, true)">
          Done
        </button>
        <button mat-button class="flex-grow-0 ml-2" (click)="deleteTask(i)">
          Delete
        </button>
      </div>
      <div *ngIf="task.done" class="d-flex align-items-center">
        <mat-form-field class="flex-grow-1">
          <input matInput class="task-done" disabled value="{{task.title}}">
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-form-field class="tasks-full-width">
        <input matInput #newTask placeholder="New task"
               [(ngModel)]="newTaskTitle"
               (keydown.enter)="addNewTask()"
               (focus)="focusState = true"
               (focusout)="focusState = false"
               autocomplete="off"
        >
        <mat-hint *ngIf="focusState" align="start">Press ENTER to add</mat-hint>
      </mat-form-field>
    </div>
    <div class="mt-2">
      <button mat-stroked-button (click)="resetTasks()"
              class="mr-2">
        Reset
      </button>
      <button mat-stroked-button color="primary" (click)="saveTasks()">
        Save
      </button>
    </div>
  </div>
</div>
