label {
  font-weight: bold;
  margin-right: 8px;
}

.tasks-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.tasks-full-width {
  width: 100%;
}

.task-done {
  text-decoration: line-through;
}
