@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

a {
  text-decoration: none;
}

table {
  width: 100%;
}

table a {
  color: unset;
}

tbody tr:hover {
  background-color: #E8EAF6;
}
